{% extends 'homePage/layout.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}
{% block title %} {{title}} {% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block server_id %}{{ server_id }}{% endblock %}


{% block stylesheet %} 
<link rel="icon" href="{% static 'homePage/img/logo.png' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'magazine/styles/magazine_style.css' %}">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'magazine/js/magazine_house.js' %}" defer></script>

{% endblock %}


{% block content %}

<div class="main-block">
    <p class="houses-type">
        Дома
    </p>
    <div class="property">
        {% if houses %}
            {% for item in houses %}
                <div class="house_item" data-modal-id="{{ item.id }}">
                    <div class="property-icon">
                        {{ icon|safe }}
                    </div>
                    <div class="property-class">
                        {% if item.type == 'house' %}Дом {% else %}Квартира {% endif %}№{{ item.id }}
                    </div>
                    <div class="property-price">
                        {{ item.price|intcomma }} ₽
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>Нет доступных домов</p>
        {% endif %}
    </div>
    <div id="houseModal" class="modal">
        <div class="modal-content">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
            <div class="info__house">
                <span class="house-district-name">Арбат</span><br>
                <div class="type_and_number_house">
                    <span class="house-type">Квартира</span>
                    <span id="house_id_district"> №1</span><br>
                </div>
                <table>
                    <tr>
                        <td class="table-left" id="house_id_header">ID</td>
                        <td class="table-right" id="house_id">1</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_price_header">Гос. цена</td>
                        <td class="table-right" id="house_price">30 000 000 ₽</td>
                    </tr> 
                    <tr>
                        <td class="table-left" id="house_basement_header">Подвал</td>
                        <td class="table-right" id="house_basement"><span id="basement_built">Имеется[</span><span style="color: rgb(255, 28, 28);" id="house_basement_level">lvl</span>=<span id="level_basement">1</span>]</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_floors_header">Этажей</td>
                        <td class="table-right" id="house_floors">3</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_class_header">Класс</td>
                        <td class="table-right" id="house_class">Elite</td>
                    </tr>
                </table>
                

            </div>
            <div class="buttons">
                <button type="button" id="accept_buy_house">Купить</button>
            </div>
        </div>
    </div>
    
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>
{% endblock %}

