{% extends 'homePage/layout.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}
{% block title %} {{title}} {% endblock %}


{% block stylesheet %} 
<link rel="icon" href="{% static 'homePage/img/logo.png' %}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'magazine/styles/magazine_style.css' %}">
{% endblock %}


{% block script %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'magazine/js/magazine_videocards.js' %}" defer></script>
{% endblock %}


{% block content %}
<div class="main-block">
    <p class="videocard-title">Видеокарты</p>
    <div class="property">
        {% for item in videocards %}
            <div class="videocard_item" data-modal-id="{{ item.id }}" data-type="{{ type }}" 
                 data-name="{{ item.name }}" data-price="{{ item.price|intcomma }} ₽" 
                 data-produced="{{ item.produced }}" data-quantity="{{ item.quantity }}">
                <div class="videocard-icon">
                    {{ icon|safe }}
                </div>
                <div class="videocard-name">
                    {{ item.name }}
                </div>
                <div class="videocard-price">
                    {{ item.price|intcomma }} $
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div id="videocardModal" class="modal">
        <div class="modal-content">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
            <div class="info__videocard">
                <span class="info-videocard-name"></span><br>
                <span class="info-videocard-price"></span><br>
                <span class="info-videocard-performance"></span><br>
                <span class="info-videocard-currency"></span><br>
                <span class="info-videocard-quantity"></span>
            </div>
            <div class="buttons">
                <button type="button" id="accept_buy_videocard">Купить</button>
            </div>
        </div>
    </div>
    
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
    
</div>
{% endblock %}

