{% extends "homePage/layout.html" %}

{% block title %}Log In{% endblock %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'users/styles/login_style.css' %}">
{% endblock %}

{% block script %}
    <script>
        const LOGIN_URL = "{% url 'api:login' %}";
        const PROFILE_URL = "{% url 'self_profile' %}";
    </script>
    <script src="{% static 'users/js/signin.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="frame">

    <p class="main-text">Авторизация</p>
    <div class="form">
        <form id="loginForm" onsubmit="return validateTelegramAuth()">
            {% csrf_token %}
            <input type="text" id="id_username" name="username" placeholder="Логин">
            <input type="password" id="id_password" name="password" placeholder="Пароль">
            <input type="hidden" id="telegram_auth_data" name="telegram_auth_data">
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="evrirus_bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
            <script type="text/javascript">
                var telegramAuthenticated = false;

                function onTelegramAuth(user) {
                    telegramAuthenticated = true;
                    sendTelegramAuthData(user);
                }

                function sendTelegramAuthData(user) {
                    const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                    $.ajax({
                        url: LOGIN_URL, // Убедитесь, что переменная LOGIN_URL содержит правильный URL для логина
                        type: "POST",
                        data: {
                            telegram_auth_data: JSON.stringify(user), // Передаём Telegram-данные
                            csrfmiddlewaretoken: csrfToken // Передаём CSRF токен
                        },
                        success: function (response) {
                            if (response.success) {
                                handleNotifications('Успешная авторизация через Телеграм!', 'success');
                                window.location.href = PROFILE_URL; // Перенаправляем на профиль
                            } else {
                                handleNotifications(response.errors, 'error');
                            }
                        },
                        error: function (error) {
                            console.error(error);
                            handleNotifications('Ошибка авторизации через Telegram.', 'error');
                        }
                    });
                }

                // Универсальная функция для отображения уведомлений
                function handleNotifications(message, type = 'success') {
                    const container = $('#messages-container');
                    const alertClass = type === 'success' ? 'alert-success' : 'alert-danger';

                    let alert = $('<div class="alert ' + alertClass + '"></div>').text(message);
                    container.prepend(alert);

                    setTimeout(() => {
                        alert.fadeOut(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                }
            </script>

            <button class="button-authorizacia" type="submit">Авторизоваться</button>
            <a class="no-account" href="../register">Нет аккаунта?</a>
        </form>
    </div>   
</div>



<img src="{% static 'users/img/graffiti1.svg' %}" class="graffiti_one">
<img src="{% static 'users/img/graffiti2.svg' %}" class="graffiti_two">
<img src="{% static 'users/img/cho_nado.svg' %}" class="graffiti_cho_nado">
{% endblock %}