{% extends "homePage/layout.html" %}
{% load static %}
{% load sass_tags %}

{% block title %}Slot Machine{% endblock %}
{% block stylesheet %}

    <link rel="icon" href="{% static 'homePage/img/logo.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="{% sass_src 'casino/styles/slot.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block script %}
    <script src="{% static '/casino/js/casino_slot_machine.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div id="sides">
        <div id="left-side">
            <div id="winners">
                <span id="winners__header">Выигрыши</span>
                <div id="winners__data">
                    <table id="winners__data-table">

                        <tbody>
                            <tr>
                                <td class="td_left">user</td>
                                <td class="td_right">win</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">kovalskiy</td>
                                <td class="td_right">10 000 $</td>
                            </tr>
                            <tr>
                                <td class="td_left">lera</td>
                                <td class="td_right">1 000 000 $</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="middle-side">
            <div id="middle__first-side">
                <div class="doors">
                    <div class="door">
                        <div class="boxes"></div>
                    </div>
                    <div class="door">
                        <div class="boxes"></div>
                    </div>
                    <div class="door"   >
                        <div class="boxes"></div>
                    </div>
                </div>
            </div>
            {% if freespins > 0 %}
                <div id="middle__second-side">
                    <div id="freespins">
                        <span id="freespins__text" class="bangers">FREE SPINS: {{ freespins }}!</span>
                    </div>
                </div>
            {% endif %}
            <div id="middle__third-side">

                <form id="userForm" method="post">
                    {% csrf_token %}
                    <div id="bid">
                        <input id="input__bid" type="number" name="user_input" placeholder="Enter bid">
                        <select id="choose_type_cash" name="user_choice">
                            <option value="cash">₽</option>
                            <option value="USD">$</option>
                        </select>

                        <div id="buttons-bid">
                            <div class="row" id="row_1">
                                <button class="bid" id="bid__x05">x0.5</button>
                                <button class="bid" id="bid__x2">x2</button>
                                <button class="bid" id="bid__vabank">Ва-банк</button>
                            </div>
                            <div class="row" id="row_2">
                                <button class="bid" id="bid__freespin" {% if not freespins %} disabled {% endif %}>
                                    <div id="bid__main-text">Bonus spin</div>
                                    <div id="bid__second-text">Free: {{ freespins }}</div>
                                </button>
                            </div>
                        </div>


                    </div>
                    <button id="submit_bid">
                        <span id="submit_bid__text" class="bangers">
                            TWIST
                        </span>
                    </button>
                </form>
            </div>
            <p class="info">

            </p>
        </div>
        <div id="right-side">
            <div id="balance">
                <span id="balance__text">Баланс</span>
                <div id="balance__data">
                    <table id="balance__data-table">
                        <tbody>
                            {% for currency, value in balance.items %}

                                <tr id="{% if c %}{{ c }}{% else %}{{ currency }}{% endif %}">
                                    <td class="td_left">{% if value.translate %}{{ value.translate }}{% else %}{{ currency }}{% endif %}:</td>
                                    <td class="td_right" id="amount_{% if c %}{{ c }}{% else %}{{ currency }}{% endif %}">
                                        <span id="text_amount_{% if c %}{{ c }}{% else %}{{ currency }}{% endif %}">{{ value.amount }}</span> <span id="symbol_amount_{% if c %}{{ c }}{% else %}{{ currency }}{% endif %}">{{ value.symbol }}</span>
                                        <span class="balance_notification {% if c %}{{ c }}{% else %}{{ currency }}{% endif %}"></span>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}