
{% extends 'homePage/layout.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}
{% block title %} {{title}} {% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block server_id %}{{ server_id }}{% endblock %}

{% block stylesheet %} 
<link rel="icon" href="{% static 'homePage/img/logo.png' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'users/styles/style_profile.css' %}">
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'users/js/profile.js' %}" defer></script>
{% endblock %}



{% block content %}

<div class="main-info">
    <div class="info">
        <div class="up">
            <div class="nickname" id="nickname">
                {% if server_id == my_server_id %}
                    <span class="edited" style="cursor: pointer" id="current-name">{{ nickname.name }}</span>
                {% else %}
                    <span class="static" id="current-name">{{ nickname.name }}</span>
                {% endif %}

                {% if language == 'ru' %}
                    <img src="{% static 'users/img/russia.svg' %}" class="icon-language ru"/>
                {% else %}
                    <img src="{% static 'users/img/eng.svg' %}" class="icon-language en"/>
                {% endif %}
                <br>
                <span class="job-name">{{ job.title }}</span>
            </div>
            <div id="nicknameModal" class="modal">
                <div class="modal-content">
                  <form id="nickname-form" method="POST">
                    {% csrf_token %}
                    <label for="new_nickname" class="label_new_nickname">Введите новый никнейм</label>
                    <input type="text" id="new_nickname" name="new_nickname" placeholder="Никнейм" required maxlength="{{nickname.max}}">
                    <div class="buttons">
                      <button type="button" id="close_nickname">Закрыть</button>
                      <button type="reset" id="accept_nickname">Подтвердить</button>
                    </div>
                  </form>
                </div>
            </div>
            
            {% if server_id == my_server_id %}
                <div class="donate-coin">
                    <span>{{ donate_balance|intcomma }} DC</span>
                </div>
            {% else %}
                <div class="donate-coin" style="visibility: hidden;">
                    <span>{{ donate_balance|intcomma }} DC</span>
                </div>
            {% endif %}
            
            
              

        </div>
        <div class="down">
            <div class="info-group">
                <div class="balance">
                    <div class="balance__cash nowrap">Наличные: {{money.cash|intcomma}} ₽</div>
                    <br>
                    <div class="balance__bank nowrap">Банк: {{money.bank|intcomma}} ₽</div>
                </div>
                <div class="couple">
                    {% if couple.user_id %}
                        <div class="couple__username nowrap">Супруг(а) Лерка</div>
                        <br>
                        <div class="couple__date nowrap">В браке с 04.01.2023</div>
                    {% else %}
                        <div class="couple__username nowrap">Супруг(а) не найден</div>
                        <!-- <br>
                        <div class="couple__date nowrap" style="visibility: hidden;">a</div> -->
                    {% endif %}
                </div>
            </div>
            <div class="dollar">
                <img src="{% static 'users/img/profile_dollar.svg' %}"/>
            </div>
        </div>
    </div>
</div>

<div class="property">
    <div class="cars">
        <span class="type-property">Автомобили</span>

        {% for car in car.cars %}
            <div class="car frosted_glass" id="{{car.id}}" data-modal-id="{{car.id}}" data-modal-type="car" numerical-order="{{ forloop.counter }}" ucode="{{ car.ucode }}">
                <span class="car__name">{{car.name}}</span><br>
                <span class="car__price">Гос.стоимость - {{car.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>
    <div class="yachts">
        <span class="type-property">Яхты</span>
        {% for yacht in yacht.yachts %}
            <div class="yacht frosted_glass" id="{{yacht.id}}" data-modal-id="{{yacht.id}}" data-modal-type="yacht" numerical-order="{{ forloop.counter }}" ucode="{{ car.ucode }}">
                <span class="yacht__name">{{yacht.name}}</span><br>
                <span class="yacht__price">Гос.стоимость - {{yacht.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>
    <div class="houses">
        <span class="type-property">Недвижимость</span>
        {% for house in houses %}
            <div class="house frosted_glass" id="{{house.id}}" data-modal-id="{{house.id}}" data-modal-type="house" numerical-order="{{ forloop.counter }}">
                <span class="house__name">{{house.district_info.name|translite}} №{{house.id}}</span><br>
                <span class="house__price">Гос.стоимость - {{house.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>

    <div id="transportModal" class="transport-modal">
        <div class="transport-modal-content">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
            <div class="info__car">
                <span class="transport-name">Renault Logan</span><br>
                <span class="transport-price">30 000 000 Р</span><br>
                <span class="transport-plate">Номера: Отсутствуют</span>
                <span class="transport-produced">Произведено: 3000</span>
                <span class="transport-quantity">В наличии: 2</span>
            </div>
            <div class="buttons">
                <button type="button" id="acceptSellTransportToPlayer">Продать игроку</button>
                <button type="button" id="acceptSellTransport">Продать</button>
            </div>
        </div>
    </div>
    <div id="houseModal" class="house-modal">
        <div class="house-modal-content">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
            <div class="info__house">
                <span class="house-district-name">Арбат</span><br>
                <div class="type_and_number_house">
                    <span class="house-type">Квартира</span>
                    <span id="house_id_district"> №1</span><br>
                </div>
                <table>
                    <tr>
                        <td class="table-left" id="house_id_header">ID</td>
                        <td class="table-right" id="house_id">1</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_price_header">Гос. цена</td>
                        <td class="table-right" id="house_price">30 000 000 ₽</td>
                    </tr> 
                    <tr>
                        <td class="table-left" id="house_basement_header">Подвал</td>
                        <td class="table-right" id="house_basement"><span id="basement_built">Имеется[</span><span style="color: rgb(255, 28, 28);" id="house_basement_level">lvl</span>=<span id="level_basement">1</span>]</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_floors_header">Этажей</td>
                        <td class="table-right" id="house_floors">3</td>
                    </tr>
                    <tr>
                        <td class="table-left" id="house_class_header">Класс</td>
                        <td class="table-right" id="house_class">Elite</td>
                    </tr>
                </table>
                

            </div>
            <div class="buttons">
                <button type="button" id="acceptSellHouseToPlayer">Продать игроку</button>
                <button type="button" id="acceptSellHouse">Продать</button>
            </div>
        </div>
    </div>
</div>



<span class="sun">
    
</span>
{% endblock %}

