{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static 'homePage/img/logo.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'homePage/styles/style.css' %}">
    {% block stylesheet %} {% endblock %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'homePage/js/index.js' %}" defer></script>
    {% block script %}
    {% endblock %}

</head>

<body>
    <div class="container">
        <header class="a_cap">
            <div class="header__logo">
                <a href="{% url 'homePage:home' %}">
                    <img class="logo__icon" src="{% static 'homePage/img/logo.svg' %}">
                </a>
                <div class="logo__text">Rich<br>Machine</div>
            </div>
            <ul class="header__buttons">
                {% if my_server_id %}
                    <li><a href="/profile/" class="header__button">Профиль</a></li>
                    {% csrf_token %}
                    <li><a href="#" class="header__button" id="logout-button">Выйти</a></li>
                {% else %}
                    <li><a href="/users/login/" class="header__button">Войти</a></li>
                {% endif %}
                <li><a href="/magazine" class="header__button">Магазин</a></li>
                <li>
                    <select id="functions" name="fruits" class="header__button" onchange="navigateToPage()">
                        <option class="bckgd-func" style="color: #7d7d7d" value="">Выберите</option>
                        <option class="bckgd-func" value="/donate">Донат</option>
                        <option class="bckgd-func" value="/casino">Казино</option>
                        <option class="bckgd-func" value="/jobs">Работа</option>
                        <option class="bckgd-func" value="/property">Имущество</option>
                        <option class="bckgd-func" value="/car_plate">Номер</option>
                        <option class="bckgd-func" value="/inventory">Инвентарь</option>
                        <option class="bckgd-func" value="/stock">Биржа</option>
                        {% if is_staff %}
                            <option class="bckgd-func admin" value="admin-panel" id="admin-panel">Админ панель</option>
{#                            <div class="bckgd-func admin"><a href="/admin-panel" id="admin-panel">Админ панель</a></div>#}
                        {% endif %}
                    </select>
                <script>
                    function navigateToPage() {
                        var select = document.getElementById("functions");
                        var url = select.value;

                        if (url) {
                            window.location.href = url; // Перенаправление на выбранную страницу
                        }
                    }
                </script>
                </li>

            </ul>
        </header>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
        <div id="messages-container">
            <script>
                let reconnectAttempts = 0;
                const maxReconnectAttempts = 5;
                const reconnectInterval = 1000; // Интервал повторного подключения в миллисекундах

                function handleMessages(message) {
                    console.log(message);
                    const container = $('#messages-container');

                    const parts = message.split('|');
                    const alertClass = 'alert-' + 3; // Замените '3' на нужный уровень, если требуется
                    let alert = $('<div class="alert ' + alertClass + '"></div>');

                    if (parts.length > 1) {
                        alert.append('<strong>' + parts[0] + '</strong><br>' + parts[1]);
                    } else {
                        alert.text(message);
                    }

                    // Проверяем количество уведомлений в контейнере
                    const currentAlerts = container.children('.alert');

                    if (currentAlerts.length >= 4) {
                        // Удаляем самое старое уведомление
                        currentAlerts.last().fadeOut(150, function () {
                            $(this).remove();
                        });
                    }

                    container.prepend(alert);

                    setTimeout(() => {
                        alert.fadeOut(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                }

                function fConnect() {
                    const socket = new WebSocket(`ws://${location.host}/ws/notifications/`);

                    socket.onopen = function() {
                        console.log('Соединение установлено');
                        reconnectAttempts = 0; // Сбрасываем счетчик при успешном подключении
                    };

                    socket.onmessage = function(event) {
                        const data = JSON.parse(event.data);
                        handleMessages(data.text);
                    };

                    socket.onclose = function(event) {
                        console.log('Соединение закрыто, код:', event.code);
                        console.log(`Попытка переподключения`);
                        setTimeout(fConnect, reconnectInterval);
                    };

                    socket.onerror = function(error) {
                        socket.close(); // Закрываем соединение при ошибке
                    };
                }

                // Запускаем подключение при загрузке страницы
                fConnect();

            </script>
        </div>
    </div>
</body>