
{% extends 'homePage/layout.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}
{% block title %} {{title}} {% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block server_id %}{{ server_id }}{% endblock %}

{% block stylesheet %} 
<link rel="icon" href="{% static 'homePage/img/logo.png' %}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'homePage/styles/style_profile.css' %}">
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'homePage/js/profile.js' %}" defer></script>
{% endblock %}



{% block content %}

<div class="main-info">
    <div class="info">
        <div class="up">
            <div class="nickname" id="nickname">
                {% if server_id == my_server_id %}
                    <span class="edited" style="cursor: pointer" id="current-name">{{ nickname.name }}</span>
                {% else %}
                    <span class="static" id="current-name">{{ nickname.name }}</span>
                {% endif %}

                {% if language == 'ru' %}
                    <img src="{% static 'homePage/img/russia.svg' %}" />
                {% else %}
                    <img src="{% static 'homePage/img/eng.svg' %}" />
                {% endif %}
                <br>
                <span class="job-name">{{ job.title }}</span>
            </div>
            <div id="nicknameModal" class="modal">
                <div class="modal-content">
                  <form id="nickname-form" method="POST" action="{% url 'users:change_nickname' %}">
                    {% csrf_token %}
                    <label for="new_nickname" class="label_new_nickname">Введите новый никнейм</label>
                    <input type="text" id="new_nickname" name="new_nickname" placeholder="Никнейм" required>
                    <div class="buttons">
                      <button type="button" id="close_nickname">Закрыть</button>
                      <button type="reset" id="accept_nickname">Подтвердить</button>
                    </div>
                  </form>
                </div>
            </div>
            
            {% if server_id == my_server_id %}
                <div class="donate-coin">
                    <span>{{ donate_balance|intcomma }} DC</span>
                </div>
            {% else %}
                <div class="donate-coin" style="visibility: hidden;">
                    <span>{{ donate_balance|intcomma }} DC</span>
                </div>
            {% endif %}
            
            
              

        </div>
        <div class="down">
            <div class="info-group">
                <div class="balance">
                    <div class="balance__cash nowrap">Наличные: {{money.cash|intcomma}} ₽</div>
                    <br>
                    <div class="balance__bank nowrap">Банк: {{money.bank|intcomma}} ₽</div>
                </div>
                <div class="couple">
                    {% if couple.user_id %}
                        <div class="couple__username nowrap">Супруг(а) Лерка</div>
                        <br>
                        <div class="couple__date nowrap">В браке с 04.01.2023</div>
                    {% else %}
                        <div class="couple__username nowrap">Супруг(а) не найден</div>
                        <!-- <br>
                        <div class="couple__date nowrap" style="visibility: hidden;">a</div> -->
                    {% endif %}
                </div>
            </div>
            <div class="dollar">
                <img src="{% static 'homePage/img/profile_dollar.svg' %}"/>
            </div>
        </div>
    </div>
</div>

<div class="property">
    <div class="cars">
        <span class="type-property">Автомобили</span>

        {% for car in car.cars %}
            <div class="car frosted_glass" id="{{car.id}}">
                <span class="car__name">{{car.name}}</span><br>
                <span class="car__price">Гос.стоимость - {{car.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>
    <div class="yachts">
        <span class="type-property">Яхты</span>
        {% for yacht in yacht.yachts %}
            <div class="yacht frosted_glass" id="{{yacht.id}}">
                <span class="yacht__name">{{yacht.name}}</span><br>
                <span class="yacht__price">Гос.стоимость - {{yacht.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>
    <div class="houses">
        <span class="type-property">Недвижимость</span>
        {% for house in houses %}
            <div class="house frosted_glass" id="{{house.id}}">
                <span class="house__name">{{house.district_info.name|translite}} {{house.type}} №{{house.id}}</span><br>
                <span class="house__price">Гос.стоимость - {{house.price|intcomma}} ₽</span>
            </div>
        {% endfor %}
    </div>
</div>



<span class="sun">
    
</span>
{% endblock %}

