{% extends "homePage/layout.html" %}
{% load static %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'other_functions/styles/style.css' %}">
{% endblock %}

{% block content %}
<div class="main-inventory">
    <div id="celltable">
        <div class="cells">
            <div class="cell-inventory empty">
                <span class="text-empty">Пусто</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            <div class="cell-inventory videocard">
                <img src="{% static 'other_functions/img/videocard.svg' %}"><br>
                <span class="name-videocard">GTX 1050 Ti</span>
                <span class="performance">Доходность:<br>600$ / день</span>
            </div>
            
            

            <!-- Повторите блоки .cell-inventory для других видеокарт -->
        </div>
    </div>
</div>
{% endblock %}