body {
    font-family: "Montserrat";
    background-color: #131313;
    overflow-x: hidden;
}

.container {
    top: 250px;
    height: 100%;
    width: 100%;
}

.a_cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-decoration: none;
}
.header__logo {
    list-style: none;
    padding-left: 22px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    
}
.header__logo li a {
    text-decoration: none;
    
}
.header__logo img {
    height: 60px;
}
.logo__text {
    margin-top: 9px;
    margin-left: 20px;
    color: #FFF9F9;
}
.header__buttons {
    list-style: none;
    margin-right: 35px;
    padding: 0;
    display: flex;
    align-items: center;
}
.header__buttons li {
    margin-left: 20px;
}
.header__buttons li:first-child {
    margin-left: 0;
}
.header__buttons li a {
    text-decoration: none;
    color: #B7B7B7;
    font-size: 20px;
}

.sun {
    background-color: url('../src/сун.svg');
}

.main-info {
    display: flex;
    border: 1px solid white;
    border-radius: 50px;
}